main {
    display: grid;
    grid-template-areas: 
    "topbar topbar topbar"
    "ads content sidebar"
    "footer footer footer";

    grid-template-columns: repeat( 1fr 3fr 1fr);

    grid-template-rows: 50px 250px 70px;

    gap: 30px 50px;
}

header {grid-area: topbar;}
aside {grid-area: ads;}
article {grid-area: content;}
nav {grid-area: sidebar;}
footer {grid-area: footer;}
